@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d1421;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1421;
}

::-webkit-scrollbar-thumb {
  background: #242d40;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #323d54;
}
